*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 50%;

  @include respond-desktop {
    font-size: 40%;
  }

  @include respond-small {
    font-size: 30%;
  }
  @include respond-ext-small {
    font-size: 25%;
  }
}

body {
  box-sizing: border-box;
  background-color: #fff;
}

